.title{
  margin-top: 20px;
  font-size: 18px;
  padding: 10px;
  border: 0px;
  margin-bottom: 20px;
  background-color: rgba(246, 246, 246, 0);
  color: rgb(84, 167, 255);
}
.list{ 
  padding: 0px;
}
.item{
  display: flex;
  justify-content: space-between;
  color:rgb(84, 167, 255);
  font-size: 18px;
  margin-bottom: 20px;
  background-color: rgba(246, 246, 246, 0);
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}
.button__delete{
  align-items: start;
  margin: 10px 0px; 
}
.button__delete:hover{
  color: aliceblue;
  background-color: rgb(0, 123, 255);
}
.input__form{
  font-size: 18px;
  min-width: 100%;
}