.App__container{
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgb(232, 232, 232);
  color: #010101;

  @media screen and (min-width: 375px) {
    max-width: 375px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}
ul{
  list-style: none;
}

.App__title{
  font-size: 40;
  text-transform: uppercase;
  color: rgb(0, 123, 255);
}